nav {
    gap: 6rem;
    justify-content: start;
}


.hero-desc {
    max-width: none;
}

.team-section {
    margin: 150px 50px 50px 50px;
    width: 80vw;
    display: flex;
    justify-content: space-between;

    h2 {
        font-size: 2.5rem;
    }

    .team-member {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 1rem;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 0.5rem;
        padding: 2rem 2.5rem 2rem 1rem;

        .member-icon {
            width: 2rem;
            height: auto;
            border-radius: 0.5rem;
        }

        .description {
            font-size: 1rem;
            line-height: 1.5;

            .role {
                text-transform: uppercase;
                font-weight: bold;
                background-color: #2a4e84;
                border-radius: 0.4rem;
                text-align: center;
                padding: 0.2rem;
                margin-top: 0.5rem;
            }
        }
    }
}
