* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #f6f1f1;
}

body {
    background: #12243f;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    z-index: 100;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #12243f;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
        width: 2.5rem;
        border-radius: 50%;
    }
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {

    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
}

.hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 100px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url('/images/sxpra.jpg');
}



.hero-content {
    max-width: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;

}

.hero-title {
    font-size: 60px;
    font-weight: 900;
    line-height: 1.1;
}

.hero-desc {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6;
    max-width: 450px;
}

.btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 30px;
    background: #008b8b;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

search-bar {
    display: flex;
    gap: 10px;
    z-index: 200;
}

.search-bar input {
    padding: 10px 15px;
    width: 260px;
    border-radius: 20px;
    border: none;
}

#searchBtn,
#clearBtn {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #006b6b;
    color: white;
    font-weight: bold;
}

.social-icons {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 150;
}

.social-icons img {
    width: 2rem;
    filter: invert(1);
}

.result-card {
    border-radius: 10px;
    background-color: #fff;
    width: 40vw;
    margin: 1rem;

    .btn {
        margin-top: 1rem;
        border: none;
    }

    .text {
        padding: 1rem;

        h3,
        p {
            color: #12243f;
        }
    }

    .recommendation-img {
        width: 40vw;
        height: 31vh;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }
}
